/* Text */

.text-center {
    text-align: center;
}

.heading-small {
    font: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}
.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.first-color {
    background: #797A7E
}

.second-color {
    color: #E0ECE4;
}

/* Buttons */

.btn {
    margin-top: 1.15rem;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    letter-spacing: 0.8px;
}

.btn-primary {
    background-color: #898a91;
}

.btn-primary:hover {
    color: #D8D3CD;
    background-color: #797A7E;
}

.btn-block {
    width: 100%;
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Forms */

.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.35rem;
    font-size: 0.80rem;
    resize: none;
    font-style: bold;
    border-radius: 7px;
    border: #898a91;
}