/* Text */

.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.50rem;
}

.heading-big {
    font-size: 1.75rem;
}

.first-color {
    background: #045222;
}

.second-color {
    color: #81EA2D;
}

/* Buttons */

.btn {
    margin-top: 1.15rem;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    letter-spacing: 0.8px;
}

.btn-primary {
    background-color: #045222;
}

.btn-primary:hover {
    color: #81EA2D;
    background-color: #178C3D;
}

.btn-block {
    width: 100%;
    color: #81EA2D;
    background-color: white;
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Forms */

.form-group {
    padding: 0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.35rem;
    font-size: 0.80rem;
    resize: none;
    font-style: bold;
    border-radius: 7px;
    border: #045222;
}

h1, h2, h3 {
    letter-spacing: 4px;
}

.opacity {
    opacity: 0.6;
}

.social {
    margin-right: 0.7rem;
}